@model SSC.Models.UnitTenant

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UnitTenant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenantSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenantSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenantContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenantContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenantEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenantEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfPersonsStaying)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfPersonsStaying)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UnitNo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
