@model SSC.Models.UnitTenant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UnitTenant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenantSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenantSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenantContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenantContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenantEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenantEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfPersonsStaying)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfPersonsStaying)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UnitNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
